{% include "store/base.html" %}

{% load static %}
{% load mathfilters %}

{% block content %}
    <style>
        .empty-product-icon {
            font-size: 5rem;
            color: #999;
        }

        .empty-product-message {
            font-size: 1.5rem;
            color: #555;
        }
    </style>

    <main class="pt-5">

        <div class="container">

            <h1 class="h5"> Shopping cart </h1>

            <hr>

            {% with qty_amount=cart|length %}
                {% if qty_amount == 0 %}
                    <div class="container mt-5">
                        <div class="row">
                            <div class="col-12 text-center"><i
                                    class="fas fa-box-open empty-product-icon"></i>
                                <p class="empty-product-message mt-3">No products available at
                                    the moment.</p>
                            </div>
                        </div>
                    </div>

                {% else %}
                    {% for item in cart %}

                        {% with product=item.product %}

                            <br>

                            <div class="row mb-4 border product-item">

                                <div class="col-md-3 col-lg-2 order-md-first bg-light">

                                    <img class="img-fluid mx-auto d-block" width="200px"
                                         alt="{{ product.title }}"
                                         src="{{ product.image.url }}"> <!-- Product image -->

                                </div>


                                <div class="col-md-9 col-lg-10 ps-md-3 ps-lg-10">

                                    <a href="{{ product.get_absolute_url }}" class="text-decoration-none
                                text-info">
                                        <h1 class="h5 pt-2"> {{ product.title }} </h1>
                                    </a>

                                    <div class="border">

                                        <div class="col border-bottom">

                                            <div class="row p-3">

                                                <div class="col-6"> Product</div>

                                                <div class="col-6 text-end">
                                                    <span class="h6 fw-bold">
                                                        {{ product.formatted_price }}
{#                                                        product.price|mul:item.qty #}
                                                    </span>
                                                </div>

                                            </div>

                                        </div>

                                        <div class="col">

                                            <div class="row p-3">

                                                <div class="col-12">

                                                    <label for="select">Qty</label>

                                                    &nbsp;

                                                    <select id="select">

                                                        <option selected>

                                                            {{ item.qty }}

                                                        </option>

                                                        <option value="">1</option>

                                                        <option value="">2</option>

                                                        <option value="">3</option>

                                                        <option value="">4</option>

                                                    </select>

                                                    <br> <br>

                                                    <button type="button" id="update-button"
                                                            class="btn btn-primary btn-sm update-button">
                                                        Buy now
                                                    </button>

                                                    &nbsp;

                                                    <button type="button"
                                                            data-index="{{ product.id }}"
                                                            class="btn btn-danger btn-sm delete-button">
                                                        Delete

                                                    </button>


                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>
                        {% endwith %}

                    {% endfor %}
                {% endif %}

            {% endwith %}
            <div class="col-12 text-end">

                <div class="h6 fw-bold"> Sub total:&nbsp;
                    <div id="total" class="d-inline-flex"> {{ cart.get_total }} </div>
                </div>
            </div>

        </div>

        <!-- 03/11 Phúc Tấn thêm tạm nút thanh toán trong giỏ hàng -->
        <form action="{% url 'create-checkout-session' %}" method="POST" id="payment-form">
            {% csrf_token %}
            <div id="card-element"></div>
            <button type="submit">Thanh toán</button>
            <div id="card-errors" role="alert"></div>
        </form>

        <br>
        <br>

    </main>


    <script src="https://js.stripe.com/v3/"></script>
    <script>
        var stripe = Stripe('{{ sk_test_51QH2duG6ioceCuONjBIvdJJCSr8z7Lo7s0vRd8eDQT0iAZh9i5qpQTbUdKW3RjooRKWwfPbR2a74UIsEb9dQaBfs00PRwhWbI3 }}');
        var elements = stripe.elements();
        var cardElement = elements.create('card');
        cardElement.mount('#card-element');

        var form = document.getElementById('payment-form');
        form.addEventListener('submit', function (event) {
            event.preventDefault();
            stripe.createToken(cardElement).then(function (result) {
                if (result.error) {
                    // Hiển thị lỗi cho người dùng
                    document.getElementById('card-errors').textContent = result.error.message;
                } else {
                    // Gửi token tới server
                    var hiddenInput = document.createElement('input');
                    hiddenInput.setAttribute('type', 'hidden');
                    hiddenInput.setAttribute('name', 'stripeToken');
                    hiddenInput.setAttribute('value', result.token.id);
                    form.appendChild(hiddenInput);
                    form.submit();
                }
            });
        });
    </script>

    {#delete button#}
    <script>
        $(document).on('click', '.delete-button', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: "{% url 'cart-delete' %}",
                data: {
                    'product_id': $(this).data('index'),
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'action': 'post'
                },
                success: function (json) {
                    location.reload();
                    document.getElementById("cart-qty").textContent = json.qty;
                    location.reload();
                },
                error: function (xhr, errmsg, err) {
                    console.log(xhr.status + ": " + xhr.responseText);
                }
            });
        });
    </script>

{% endblock %}

