{% extends "store/base.html" %}
{% load static %}
{% load allauth i18n %}

{% block content %}
<div class="w-80 mt-5 mx-auto" style="max-width: 500px;">
    <h3>Đã gửi yêu cầu khôi phục mật khẩu</h3>
    <p>Chúng tôi đã gửi một email chứa hướng dẫn khôi phục mật khẩu đến địa chỉ email của bạn.</p>
    <p>Vui lòng kiểm tra hộp thư đến hoặc thư rác của bạn.</p>
    <p>Nếu bạn không nhận được email trong vòng 5 phút, vui lòng liên lạc với chúng tôi qua email abc@troll.com</p>
    <p>
        Quay lại đăng nhập? <a href="{% url 'account_login' %}">Đăng nhập</a>
    </p>

</div>
{% endblock %}