{% extends "store/base.html" %}
{% load static %}
{% load allauth i18n %}

{% block content %}
<div class="w-80 mt-5 mx-auto" style="max-width: 500px;">
    <h3>Khôi phục mật khẩu</h3>
    <p>Bạn quên mật khẩu? Hãy nhập email của bạn để khôi phục mật khẩu.</p>
    <form method="post" action="{% url 'account_reset_password' %}">
        {% csrf_token %}
        <div class="form-floating mb-3">
            <input type="email" name="email" class="form-control" id="id_email" placeholder="" autocomplete="email"  maxlength="320" required>
            <label for="id_email">Email</label>
        </div>
        <button type="submit" class="btn btn-primary">Gửi yêu cầu khôi phục mật khẩu</button>
    </form>
    <p>
        Bạn đã có tài khoản? <a href="{% url 'account_login' %}">Đăng nhập</a>
    </p>
</div>
{% endblock %}